@model Product

<h1>StoreEdit</h1>

<h4>Store</h4>
<form asp-action="ProductCreate" method="post" enctype="multipart/form-data" class="mt-5">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" type="file" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StockQuantity"></label>
        <input asp-for="StockQuantity" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ExistingCategories">Existing Categories</label>
        <select name="SelectedCategories" multiple class="form-control">
            @foreach (var category in ViewBag.ProductCategories as List<SelectListItem>)
            {
                    <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="NewCategories">New Categories (comma-separated)</label>
        <input name="NewCategories" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>