USE [master]
GO
/****** Object:  Database [ESHOP]    Script Date: 21/02/2025 14:20:36 ******/
CREATE DATABASE [ESHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ESHOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ESHOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESHOP]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 21/02/2025 14:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[PAYMENT_METHOD] [nvarchar](50) NOT NULL,
	[TRANSACTION_ID] [nvarchar](100) NOT NULL,
	[AMOUNT] [decimal](10, 2) NOT NULL,
	[PAYMENT_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROD_CAT]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROD_CAT](
	[PRODUCT_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[PRODUCT_NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[IMAGE] [nvarchar](255) NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[STOCK_QUANTITY] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS_CATEGORIES]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS_CATEGORIES](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nvarchar](100) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_ITEMS]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_ITEMS](
	[PURCHASE_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE_AT_PURCHASE] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_VENDOR_MAPPING]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_VENDOR_MAPPING](
	[PURCHASE_VENDOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[VENDOR_ID] [int] NOT NULL,
	[VENDOR_AMOUNT] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASES]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASES](
	[PURCHASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NOT NULL,
	[PAYMENT_STATUS] [nvarchar](50) NOT NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORE_PAYOUTS]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORE_PAYOUTS](
	[PAYOUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[PAYOUT_AMOUNT] [decimal](10, 2) NOT NULL,
	[PAYOUT_STATUS] [nvarchar](50) NOT NULL,
	[PAYOUT_DATE] [datetime] NULL,
	[PAYOUT_METHOD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYOUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORES]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORES](
	[STORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_NAME] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[CATEGORY] [nvarchar](100) NULL,
	[PASSWORD_HASH] [nvarchar](255) NOT NULL,
	[SALT] [nvarchar](50) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD_HASH] [nvarchar](255) NOT NULL,
	[SALT] [nvarchar](50) NOT NULL,
	[TELEPHONE] [nvarchar](15) NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USER_ID], [NAME], [EMAIL], [PASSWORD_HASH], [SALT], [TELEPHONE], [ADDRESS], [CREATED_AT], [UPDATED_AT]) VALUES (0, N'Deleted User', N'deleted@example.com', N'ZxYwJw094c', N'Zx094owCc', N'12345678', N'deleted', CAST(N'2025-02-21T11:46:37.390' AS DateTime), CAST(N'2025-02-21T11:46:37.390' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STORES__161CF724634C2FB6]    Script Date: 21/02/2025 14:20:37 ******/
ALTER TABLE [dbo].[STORES] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STORES__AF865DE97742AFEB]    Script Date: 21/02/2025 14:20:37 ******/
ALTER TABLE [dbo].[STORES] ADD UNIQUE NONCLUSTERED 
(
	[STORE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__161CF724A856E1EE]    Script Date: 21/02/2025 14:20:37 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT (getdate()) FOR [PAYMENT_DATE]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[PRODUCTS_CATEGORIES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PRODUCTS_CATEGORIES] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[PURCHASES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[STORE_PAYOUTS] ADD  DEFAULT (getdate()) FOR [PAYOUT_DATE]
GO
ALTER TABLE [dbo].[STORES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[STORES] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_PURCHASES]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_USERS]
GO
ALTER TABLE [dbo].[PROD_CAT]  WITH CHECK ADD  CONSTRAINT [FK_PROD_CAT_CATEGORIES] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[PRODUCTS_CATEGORIES] ([CATEGORY_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROD_CAT] CHECK CONSTRAINT [FK_PROD_CAT_CATEGORIES]
GO
ALTER TABLE [dbo].[PROD_CAT]  WITH CHECK ADD  CONSTRAINT [FK_PROD_CAT_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROD_CAT] CHECK CONSTRAINT [FK_PROD_CAT_PRODUCTS]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_STORES] FOREIGN KEY([STORE_ID])
REFERENCES [dbo].[STORES] ([STORE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_STORES]
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ITEMS_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS] CHECK CONSTRAINT [FK_PURCHASE_ITEMS_PRODUCTS]
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ITEMS_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS] CHECK CONSTRAINT [FK_PURCHASE_ITEMS_PURCHASES]
GO
ALTER TABLE [dbo].[PURCHASE_VENDOR_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_VENDOR_MAPPING_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_VENDOR_MAPPING] CHECK CONSTRAINT [FK_PURCHASE_VENDOR_MAPPING_PURCHASES]
GO
ALTER TABLE [dbo].[PURCHASE_VENDOR_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_VENDOR_MAPPING_STORES] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[STORES] ([STORE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_VENDOR_MAPPING] CHECK CONSTRAINT [FK_PURCHASE_VENDOR_MAPPING_STORES]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_USERS]
GO
ALTER TABLE [dbo].[STORE_PAYOUTS]  WITH CHECK ADD  CONSTRAINT [FK_STORE_PAYOUTS_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STORE_PAYOUTS] CHECK CONSTRAINT [FK_STORE_PAYOUTS_PURCHASES]
GO
ALTER TABLE [dbo].[STORE_PAYOUTS]  WITH CHECK ADD  CONSTRAINT [FK_STORE_PAYOUTS_STORES] FOREIGN KEY([STORE_ID])
REFERENCES [dbo].[STORES] ([STORE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STORE_PAYOUTS] CHECK CONSTRAINT [FK_STORE_PAYOUTS_STORES]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD CHECK  (([PAYMENT_STATUS]='Failed' OR [PAYMENT_STATUS]='Completed' OR [PAYMENT_STATUS]='Pending'))
GO
ALTER TABLE [dbo].[STORE_PAYOUTS]  WITH CHECK ADD CHECK  (([PAYOUT_STATUS]='Failed' OR [PAYOUT_STATUS]='Paid' OR [PAYOUT_STATUS]='Pending'))
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([TELEPHONE] like '[0-9]%'))
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USER]    Script Date: 21/02/2025 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_USER](@USER_ID INT)
AS
    -- Update PURCHASES Table
    UPDATE PURCHASES
    SET USER_ID = 0
    WHERE USER_ID = @USER_ID;

    -- Update PAYMENTS Table
    UPDATE PAYMENTS
    SET USER_ID = 0
    WHERE USER_ID = @USER_ID;

    -- Delete the User
    DELETE FROM USERS
    WHERE USER_ID = @USER_ID;
GO
USE [master]
GO
